
body {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 6rem;
    min-height: 100vh;
    background: #0b3f5a;
    color: #63c367;
    padding-top: 20px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    color: #ffe000;
}

.wrapper h1 {
    /* margin: 30px; */
    text-align: center;
    padding-bottom: 15px;
}

fieldset {
    margin: 10px auto;
    width: 500px;
    max-width: 90%;
    border-radius: 5px;
    border: 2px solid brown;
    padding: 20px;
    line-height: 2;
}

fieldset button {
    margin-top: 15px;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    background: #186c6c;
    color: #63c367
}

fieldset>legend {
    text-align: center;
}

fieldset>.inside {
    text-align: center;
}

.weekDiv {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background: #419b93;
}

.passed {
    background: black;
}

.chartWrapper {
    line-height: 1.4;
    width: 90%;
    margin: 0 auto 50px auto;
}

.chartWrapper p {
    text-align: center;
    margin: 40px auto;
}

.chartWrapper span {
    font-weight: 600;
    color: #8aff8e;
}

.chartWrapper hr {
    /* width: 80%; */
    margin: 30px auto;
}

.chart {
    margin-top: 20px;
    border: 1px solid green;
    padding: 5px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, 10px);
}

.invisible {
    display: none;
}

footer {
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background-color: #0b2f42;
    height: 5rem;
    width: 100%;
    /* margin-top: 100px; */
    text-align: center;
}

.modalWrapper {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    min-height: 100%;
    min-width: 100%;
    background: rgba(0,0,0,0.7);
}

.show {
    display: grid;
}

.modal {
    /* display: none; */
    /* position: absolute; */
    font-family: "Consolas", sans-serif;
    margin: auto;
    text-align: center;
    font-size: 30px;
    width: 60vw;
    padding: 40px;
    /* border-radius: 10px; */
    border: 3px solid #333;
    background: black;
    color: red;
}

.modal button {
    display: block;
    margin: 20px auto;
    font-size: 3em;
    background: #121212;
    color: red;
    /* border-radius: 20px; */
    padding: 20px;
    border: 3px solid #333
}

@keyframes error {
    0% {background-color: red; color: black}
    50% {background-color: red; color: black}
    50% {background-color: black; color: red}
    100% {background-color: black; color: red}
}

.modal .error {
    animation-name: error;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}